body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;

	background-color: #cdd482;   /*Временно основной цвет */
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: #ffffff;
}

input:focus,
button:focus,
textarea:focus {
	outline: none;
}

.catalog-nav-right ul {
	list-style: none;
}

.visually-hidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px;
  width: 1px; 
  margin: -1px;
  padding: 0;
  border: 0; 
}

.block-inner,
.top-header-wrap {
  width: 940px;
  margin: 0px auto;
}

.main-header {
	min-height: 320px;
	background-color: #f4f7f9;
}

.top-header {
	font-size: 17px;
	line-height: 18px;

	background-color: #293449;
}

.top-header-wrap {
	display: flex;
	justify-content: space-between;
	height: 42px;
}

.main-search{
  display: flex;
}

.main-search-input {
	background-color: #293449;
	padding-left: 10px;
	border: none;
	order: 2;
}

.main-search-button{
	padding-left: 16px;
	font-size: 0;
	background-color: #293449;
	border: none;
	order: 1;
}

.main-search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.main-search-input::-moz-placeholder {
  color: #ffffff;
}

.main-search-input:-ms-input-placeholder {
  color: #ffffff;
}

.main-search-input:-moz-placeholder {
  color: #ffffff;
}

.main-search-input:hover {
	background-color: #212a3a;
}

.main-search-input:hover + button {
	background-color: #212a3a;
}

.main-search-input:hover + button path{
	fill: white;
}

.main-search-input:focus {
	background-color: #ffffff;
}

.main-search-input:focus + button {
	background-color: #ffffff;
}

.main-search-input:focus + button path {
	fill: red;
}

.top-right-header {
	display: flex;
	justify-content: space-between;
}

.top-right-btn {
	width: 150px;
	text-align: center; 
}

.bookmarks svg {
	padding-top: 1px;
	/*padding-right: 8px;*/ /*Не могу отоддвинуть свг*/
}

.cart svg {
	padding-top: 1px;
	/*padding-right: 10px;*/ /*Не могу отоддвинуть свг*/
}

.btn-order {
	padding-top: 11px;
	background-color: #63a63e;
}

.cart {
	padding-top: 11px;
}

.bookmarks {
	padding-top: 11px;
}

.top-right-btn:hover path,
.top-right-btn:hover circle{
	fill: white;
}

.top-right-btn:focus path,
.top-right-btn:focus circle{
	fill: rgba(255,255,255,0.5);
}




.middle-header {
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	min-height: 158px;
}

.middle-header h1 {
	width: 300px;
	min-height: 158px;
	margin: 0;
	padding-left: 52px;
	padding-top: 48px;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	line-height: 23px;
	color: #ee3643;
}

.header-contacts {
	width: 320px;
	height: 158px;
	/*text-align: center;*/
	/*padding-top: 24px;*/
	/*padding-left: 20px;*/
}

.phone {
	position: relative;
	width: 270px;
	margin-left: 20px;
	margin-top: 46px;
	margin-bottom: 0px;
	padding-top: 9px;
	padding-left: 47px;
	padding-bottom: 9px;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: 3px solid #ffffff;
}

.address {
	font-size: 14px;
	line-height: 24px;
	margin-left: 30px;
	margin-top: 4px;
	color: #32455c;	
}

.user-nav {
	list-style: none;
	display: flex;
	width: 300px;
	min-height: 158px;
	margin: 0px 0px 0px 20px;
	padding: 0px;
}

.login-link,
.reg-link {      
	background-color: #ffffff;
}

.user-nav a {
	position: relative;
	display: block;
	height: 45px;
	margin-top: 46px;
}

.login-link a,
.reg-link a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.login-link a {
	margin-left: 10px;
	padding-left: 47px;
	padding-right: 26px;
	padding-top: 13px;
}

.reg-link a {
	margin-left: 10px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 13px;
}

.main-nav {
	font-size: 17px;
	line-height: 17px;

	background-color: #32425c;
}

.catalog-nav-top h3,
.catalog-nav-right h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	color: #ffffff;
}

.bookmarks:hover,
.cart:hover {
	background-color: #212a3a;
}

.bookmarks:focus,
.cart:focus {
	color: rgba(255, 255, 255, 0.6);
	background-color: #161d29;
}

.btn-order:hover {
	background-color: #5fbb2d;
}

.btn-order:focus {
	color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
}

.login-link a:hover,
.reg-link a:hover {
	color: #ee3643;
}

.login-link:hover path {
	fill: #32425c;
}

.login-link:focus path {
	fill: rgba(50, 66, 92, 0.3);
}

.login-link a:focus,
.reg-link a:focus {
	color: rgba(0, 0, 0, 0.3);
}

.main-nav a:hover {
	background-color: #293449;
}

.main-nav a:focus {
	color: rgba(255, 255, 255, 0.5);
	background-color: #1d2739;
}

.red-button {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ee3643;
}

.btn-catalog-nav {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	background-color: #e5e5e5;
}

.btn-catalog-nav:hover {
	background-color: #cccccc;
}

.btn-catalog-nav:focus {
	background-color: #b2b2b2;
}

.header-logo {
	width: 220px;
	height: 47px;
}

.top-header {
	display: flex;
}

.top-left-header {
	display: flex;
}


.site-nav {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	width: 940px;
	margin: 0px;
	padding: 0px;

	box-shadow: 0px 5px 0px #293449;
}
.site-nav li a {
	display: block;
	vertical-align: middle;
}

.site-nav li:first-child a {
	padding: 19px 33px 19px 30px;
}

.site-nav li:nth-child(2) a {
	padding: 19px 31px 19px 30px;
}

.site-nav li:nth-child(3) a {
	padding: 19px 30px 19px 28px;
}

.site-nav li:nth-child(4) a {
	padding: 19px 31px 19px 31px;
}

.site-nav li:nth-child(5) a {
	padding: 19px 31px 19px 28px;
}

.site-nav li:nth-child(6) a {
	padding: 19px 32px 19px 31px;
}

.site-nav li:last-child a {
	padding: 19px 31px 19px 30px;
}

.catalog-nav-top,
.catalog-nav-right {
	display: flex;
}

.catalog-nav-top ul,
.catalog-nav-right ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding-left: 0px;
}

.catalog-nav-bottom {
	display: flex;
}

.catalog-nav-right ul {
	flex-direction: column;
}

.preview {
	position: relative;
	width: 300px;
	height: 123px;
}

.preview-1 {
	background-color: #ffbf47;
}

.preview-2 {
	background-color: #3bbce3;
}

.preview-3 {
	background-color: #dc91d8;
}

.preview-4 {
	background-color: #8ed78f;
}

.preview-5 {
	background-color: #ffc047;
}

.popular-items-catalog {
	display: flex;
}

.catalog-brands {
	display: flex;
	list-style: none;
	text-align: center;
}

.promo-services {
	display: flex;
}

.footer-wrapper-1 {
	display: flex;
}

.footer-wrapper-2 {
	display: flex;
}

.footer-top-nav-1 ul {
	display: flex;
}

.footer-top-nav-2 ul {
	display: flex;
}

.footer-bottom {
	display: flex;
}

.popular-item-new,
.catalog-item-new {
	display: none;
}

.breadcrumbs {
	display: flex;
}

.catalog-filter {
	display: flex;
}

.main-catalog-items {
	display: flex;
}

.red-button:hover {
	background-color: #ca2c37;
}

.red-button:focus {
	background-color: #ba2732;
}

.promo-slider-drill h3,
.promo-slider-perforator h3 {
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
	text-transform: uppercase;
	color: #ffffff;
}

.promo-slider-drill p,
.promo-slider-perforator p {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.blue-heading {
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.popular-items-wrapper,
.popular-brands-wrapper {
	background-color: #f9f5f0;  /*Ограничить по ширине 940пикс */
}

.popular-item,
.catalog-item {
	font-family: "PT Sans";
	font-weight: bold;
	text-align: center;
	border: 1px solid #e5e5e5;
}

.popular-item h3,
.catalog-item h3 {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.popular-item p,
.catalog-item p {
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
}

.hidden-item-price {
	text-decoration: line-through;

}

.item-price {
	display: inline-block;
	width: 122px;
	height: 38px;
	padding-top: 10px;
	text-align: center;

	background-image: url(../img/red-button.svg);
}

.btn-cart,
.btn-bookmarks {
	font-family: "Cuprum";
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	border-radius: 2px;
	border: none;
}

.btn-cart {
	width: 135px;
	height: 38px;
	color: #ffffff;
	background-color: #63a63e;
	box-shadow: inset 0 -3px rgba(54, 115, 21);
}

.btn-bookmarks {
	width: 135px;
	height: 38px;
	color: #32425c;
	background-color: #ffffff;
	box-shadow: inset 0 0 0 3px rgba(99, 166, 62);
}

.btn-cart:hover {
	background-color: #5fbb2d;
}

.btn-bookmarks:hover {
	box-shadow: inset 0 0 0 3px rgba(50, 66, 92);
}

.btn-cart:focus {
	background-color: #518534; /*При клике появляется бордер почему-то*/
}

.btn-bookmarks:focus {
	color: rgba(50, 66, 92, 0.3);
	box-shadow: inset 0 0 0 3px rgba(50, 66, 92, 0.3);  /*При клике появляется бордер почему-то*/
}
}
.popular-item {
	border: 1px solid #eaeaea;
}

.popular-item:hover,
.catalog-item:hover {
	border-color: transparent;
	box-shadow: 0 10px 25px 0px rgba(41,52,73,0.5); /*не знаю как менять картинку на кнопки*/
}

.catalog-brands li {
	border: 1px solid #e5e5e5;
}

.catalog-brands li:hover {
	border: none;
	box-shadow: 0 10px 25px 0px rgba(41,52,73,0.5);
}

.services {
	background-color: #f4f8f9;
}

.services p,
.company-information p,
.company-contacts p {
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
}

.btn-services {
	font-size: 21px;
	line-height: 30px;
	color: #ffffff;

	background-color: #32425c;
}

.services-slider-item h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;
}

.btn-services:hover {
	background-color: #293449;
}

.btn-services:focus {
	color: #32425c;

	background-color: #ffffff;
}

.company-information ul {
	list-style: none;
}

.footer-top {
	font-size: 18px;
	line-height: 24px;

	background-color: #32425c;
}

.footer-site-nav-1 {
	list-style: none;
}

.footer-contacts {
	color: #ffffff;
}

.footer-site-nav-2 {
	list-style: none;
}

.footer-site-nav-2 a {
	color: #ffd180;
}

.footer-bottom {
	font-size: 16px;
	line-height: 18px;

	background-color: #293449;
}

.footer-bottom-copyright,
.footer-bottom-feedback,
.footer-bottom-creator {
	color: #ffffff;
}

.footer-bottom-feedback a,
.footer-bottom-creator a {
	color: #ffd180;
}

.footer-site-nav-1 a:hover,
.footer-site-nav-2 a:hover,
.footer-bottom-feedback a:hover,
.footer-bottom-creator a:hover {
	text-decoration: underline;
}

.footer-site-nav-1 a:focus {
	color: rgba(241, 245, 247, 0.5);
	text-decoration: none
}

.footer-site-nav-2 a:focus {
	color: rgba(255, 209, 128, 0.5);
	text-decoration: none
}

.footer-bottom-feedback a:focus,
.footer-bottom-creator a:focus {
 	color: #ee3643;
 	text-decoration: none;
}

 .footer-bottom-social {
	display: flex;
	list-style: none;
 	text-align: center;
}

.modal-write {
	font-size: 18px;
	line-height: 18px;
}

.modal-write input[type="text"],
.modal-write input[type="email"],
.modal-write textarea {
	font-family: "PT sans";
	font-size: 13px;
	line-height: 18px;
	border: 1px solid #d7dcde;
	border-radius: 2px;
}

.modal-write input[type="text"]:hover,
.modal-write input[type="email"]:hover,
.modal-write textarea:hover {
	border: 1px solid #b5b5b5;
}

.modal-write input[type="text"]:focus,
.modal-write input[type="email"]:focus,
.modal-write textarea:focus {
	border: 1px solid #ee3643;
}

.modal-write input[type="submit"] {
	width: 460px;
	height: 38px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	background-color: #ee3643;
}

.modal-write input[type="submit"]:hover {
	background-color: #ca2c37;
}

.modal-write input[type="submit"]:focus {
	background-color: #ba2732;
}


/*Стили страницы каталога*/

.order-link a,
.setting-link a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.order-link a:hover,
.setting-link a:hover {
	color: #ee3643;
}

.order-link a:focus,
.setting-link a:focus {
	color: rgba(50, 66, 92, 0.3);
}

.user-logout {
	background-color: #ffffff;
}

.user-logout span {
	font-size: 21px;
	line-height: 21px;
	color: #000000;	
}

.user-logout span:hover {
	
}

.user-logout span:focus {
	color: rgba(255, 0, 0, 0.3);  /*не работает*/
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.filter p,
.sorting p {
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.filter ul {
	list-style: none;
}

.filter fieldset{
	border: none;
}

.filter-type {
	font-family: "PT Sans";
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.brands-filter label,
.power-filter label {
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
}

.filter-input:disabled + label {
	opacity: 0.4;
}

.btn-show input[type="submit"] {
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.PTF-sorting {
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: underline dotted red;
	text-transform: uppercase;
}

.PTF-sorting:hover {
	color: rgba(0, 0, 0);
	text-decoration: underline solid red;
}

.PTF-sorting:active {        /*Почему-то активность не фиксируется*/
	color: rgba(238, 54, 67);
	text-decoration: none;
}

.btn-page {
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	padding: 13px 18px;
	/*box-shadow: ;*/
}

.btn-page:hover {
	border: 1px solid #bdc6ca;
}

.btn-page:focus {
	border: 1px solid #ee3643;
}

.btn-page-active {
	color: #ffffff;
	border: 1px solid #ee3643;
	background-color: #ee3643;
}

.btn-page-active:hover,
.btn-page-active:focus {
	color: #ffffff;
	border: 1px solid #ee3643;
	background-color: #ee3643;
}


